In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('BAJAJ-AUTO_stnd_PL.csv')

for d in df.columns:
    if df[d].isna().sum() > (0.25*len(df[d])):
        df.rename(columns={df[d].name:'to_drop'},inplace=True)
df.drop('to_drop', axis=1, inplace=True)

In [15]:
df.head()

,Unnamed: 0,0,1,2,3,4,5
0,0,Profit & Loss account of Bajaj Auto (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
1,1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths
2,2,INCOME,NaN,NaN,NaN,NaN,NaN
3,3,Revenue From Operations [Gross],27132.9,29111.54,29567.25,25098.64,22694.87
4,4,Less: Excise/Sevice Tax/Other Levies,0.0,0.00,0.00,398.34,1321.35

In [ ]:
import requests
import pandas as pd


res = requests.get(url)

df = pd.read_html(res.content)

df.to_csv(filename+'.csv')