In [23]:
import numpy as np
from sklearn import preprocessing,svm
from sklearn.model_selection import train_test_split
import pandas as pd

In [24]:
dfc = pd.read_csv('Machine_Learning/Credit Risk/customer_data.csv')
dfc.head()
dfp = pd.read_csv('Machine_Learning/Credit Risk/payment_data.csv')
dfp.head()

,id,OVD_t1,OVD_t2,OVD_t3,OVD_sum,pay_normal,prod_code,prod_limit,update_date,new_balance,highest_balance,report_date
0,58987402,0,0,0,0,1,10,16500.0,04/12/2016,0.0,NaN,NaN
1,58995151,0,0,0,0,1,5,NaN,04/12/2016,588720.0,491100.0,NaN
2,58997200,0,0,0,0,2,5,NaN,04/12/2016,840000.0,700500.0,22/04/2016
3,54988608,0,0,0,0,3,10,37400.0,03/12/2016,8425.2,7520.0,25/04/2016
4,54987763,0,0,0,0,2,10,NaN,03/12/2016,15147.6,NaN,26/04/2016

In [25]:
frames = [dfp, dfc]
df = pd.concat(frames)

In [26]:
df.columns
df.isna().sum().sum()

119191

In [27]:
df.fillna(-9999,inplace=True)

In [28]:
df.isna().sum().sum()

0

In [29]:
df.drop(['id'], 1, inplace=True)
df.drop(['update_date'],1, inplace=True)
df.drop(['report_date'],1, inplace=True)

In [30]:
X = np.array(df.drop(['label'],1))
y = np.array(df['label'])
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1)

In [31]:
clf = svm.SVC()
clf.fit(X_train, y_train)
conf = clf.score(X_test, y_test)
print(conf)

0.9829424307036247

In [32]:
X.shape

(9375, 20)

In [33]:
y.shape

(9375,)

In [34]:
em = df.iloc[[-1]]
em.drop(['label'],1, inplace=True)
em.fillna(-9999, inplace=True)
em = np.array(em)

/home/samar/.local/lib/python3.8/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/home/samar/.local/lib/python3.8/site-packages/pandas/core/frame.py:4459: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [35]:
prediction = clf.predict(em)
print(prediction)

[0.]

In [36]:
em = df.iloc[[-1]]
print(em['label'])

1124    0.0
Name: label, dtype: float64